.down-link .linked {
  list-style-type: none;
  display: flex;
  /* gap: 0.1rem; */
  min-height: 2em;
  color: aliceblue;
  padding-left: 14px;
}
.linked li {
  min-width: 3.4rem;
  padding: 0.4em 1em;
  text-align: center;
  font-size: 16px;
  border: 3px solid transparent;
  transition: all 0.25s;
  box-sizing: border-box;
}
.linked li:first-child {
  border: 3px solid rgba(110, 109, 109, 0.427);
}
.barbelow {
  min-width: 3.4rem;
  padding: 0.4em 1em;
  text-align: center;
  font-size: 16px;
  position: relative;
}
.barbelow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5px;
  background-color: blue;
}
.nav-linker {
  text-decoration: none;
  color: aliceblue;
}
.linked li:first-child:hover {
  background-color: rgba(208, 8, 128, 0.795);
}
