.down-link .linked {
  list-style-type: none;
  display: flex;
  min-height: 2em;
  color: aliceblue;
  padding-left: 40px;
  /* border: 3px solid red; */
}
.linked li {
  width: 6.4rem;
  height: 2.4rem;
  padding: 0.4em 0;
  text-align: center;
  border: 3px solid transparent;
  font-size: 16px;
  transition: all 0.25s;
  box-sizing: border-box;
  flex-grow: 6rem;
}
.linked li:first-child {
  padding: 0.4em 1em;
  width: 5.4rem;
  border: 3px solid rgba(110, 109, 109, 0.427);
}
.barbelow {
  background-color: rgba(191, 106, 155, 0.281);
  border-top: 3px solid rgb(181, 22, 102);
  padding: 5px 16px 8px;
}

.nav-linker {
  text-decoration: none;
  color: rgb(221, 227, 233);
  padding: 5px 0.8em 11px;
}
.linked li:first-child:hover {
  background-color: rgba(208, 8, 128, 0.795);
}
