.app-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: wheat;
  /* background-color:  var(--bg-color); */
  /* rgba(189, 115, 12, 0.461); */
  /* rgb(199, 196, 196); */
}
.nav-link ul {
  text-align: left;
  font-size: 1.2rem;
  background-color: #313131d1;
  padding-left: 0;
}
.nav-link ul > li {
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}
.linker {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem;
}
.nav-link ul > li:hover{
  background-color: rgb(111, 73, 2);
}
