:root {
  --color: #01081c;
  background-color: var(--color);
  color: rgb(202, 202, 202);
}
body {
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  font-size: 2em;
  flex-direction: column;
  height: 100vh;
  background-image: url(/src/assets/man.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: rgba(9, 9, 9);
  justify-content: center;
  align-items: center;
}
.cool-mirror {
  padding: 0.6em;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-image: linear-gradient(
    70deg,
    rgba(29, 246, 43, 0.297),
    rgba(174, 106, 10, 0.461)
  );
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding-bottom: 2rem;
  box-shadow: 2px 2px 2px 3px rgba(70, 70, 70, 0.188),
    0 8px 8px 6px rgba(231, 249, 141, 0.188) inset;
}

form {
  font-size: 20px;
  color: yellow;
  box-sizing: border-box;
  max-width: 100%;
  display: grid;
  grid-template-columns: 10rem auto;
  align-items: center;
  text-align: left;
}
form input:not(:last-child) {
  background-color: #4f505199;
  color: white;
  padding: 5px;
  font-size: 16px;
  min-width: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
form input:not(:last-child):focus{
  background-color: #39393a99;
}

form input:last-child {
  border: none;
  border-radius: 5px;
  background-color: rgb(41, 40, 40);
  color: aliceblue;
  font-size: 1em;
  margin: 0.2em;
  min-width: 10rem;
  padding: 0.3em;
}
form div {
  margin-block: 0.6em;
  margin-right: 0.4em;
  border-radius: 5px;
  background-image: linear-gradient(
    -120deg,
    rgba(245, 210, 68, 0.491),
    rgba(180, 4, 4, 0.564),
    rgba(0, 160, 35, 0.916)
  );

  grid-area: 5 / span 2;
  text-align: center;
}
form div:hover {
  background-image: linear-gradient(
    120deg,
    rgba(245, 210, 68, 0.491),
    rgba(180, 4, 4, 0.564),
    rgba(77, 160, 0, 0.916)
  );
  cursor: pointer;
}
form div:hover input {
  padding: 0.33em;
  cursor: pointer;
}
