.regist-container {
  background-color: #29292a;
  color: #ececec;
  padding-block: 6.4em;
  background-image: url("/src/images/floral.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  filter: brightness(0.94);
  -webkit-filter: brightness(0.94);
}
:root {
  --wrap--height: 19rem;
  --new-height: calc(var(--wrap--height) - 0.5rem);
}
.regist-wrapper {
  margin: auto;
  width: 34rem;
  min-height: var(--wrap--height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px;
  padding: 10px 6px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 4px 4px 6px 4px rgba(247, 159, 247, 0.259);
  background-color: rgba(146, 146, 146, 0.132);
}
.regist-wrapper div {
  flex-grow: 1;
  padding: 4px;
}
.log-in,
.Sign--up {
  text-align: center;
}
.sign-in {
  color: #000000;
  text-align: center;
  background-color: rgb(255, 207, 248);
  /* #353434; */
  width: 12rem;
  min-height: var(--new-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in > div {
  padding: 12px;
  height: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  width: 14rem;
}
.type-input:focus {
  border: 2.4px solid dodgerblue;
}

.remove {
  display: none;
}

#submit1 {
  margin-bottom: 1em;
}
#submit2 {
  margin-block: 2em;
}
.type-input {
  color: #d2d2d2;
  margin: 8px 6px;
  height: 2em;
  border-radius: 4px 4px 0 0;
  border: 2px solid rgb(112, 112, 247);
  padding: 6px;
  font-size: 15px;
  background-color: transparent;
}
.submit-button {
  color: #000;
  border: 3px solid #129ce1;
  width: 7em;
  padding: 6px;
  border-radius: 1.6em;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.15s;
}
.submit-button:hover {
  border: 3px solid #b8ddf9;
  /* color: orangered; */
}
.submit-button:focus {
  background-color: plum;
  border: 3px solid #b8ddf9;
}
.reset-pass {
  cursor: default;
  transition: all 0.25s;
}
.reset-pass:hover {
  color: #129ce1;
}
.register {
  margin-top: 3em;
  min-height: 2rem;
  padding: 0;
}
#regg {
  width: 6rem;
  cursor: pointer;
  margin: 0px auto;
  font-size: 17px;
  padding: 7px;
  box-sizing: border-box;
  background-color: rgba(152, 150, 150, 0.178);
}
#regg:hover {
  border: 2px solid steelblue;
}
