body {
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  font-size: 2em;
  flex-direction: column;
  height: 100vh;
  background-image: url(/src/assets/man.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  overflow: hidden;
  color: rgba(9, 9, 9);
  justify-content: center;
  align-items: center;
}
.cool-mirror h4 {
  background-color: rgba(26, 25, 25, 0.888);
  /* #101010; */
  color: wheat;
  padding: 0.6em;
}
.cool-mirror {
  padding: 0.6em;
  margin: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-image: linear-gradient(
    70deg,
    rgba(29, 246, 43, 0.297),
    rgba(174, 106, 10, 0.461)
  );
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding-bottom: 2rem;
  box-shadow: 2px 2px 2px 3px rgba(70, 70, 70, 0.188),
    0 8px 8px 6px rgba(231, 249, 141, 0.188) inset;
}

form {
  font-size: 20px;
  color: yellow;
  box-sizing: border-box;
  max-width: 100%;
  display: grid;
  grid-template-columns: 10rem auto;
  align-items: center;
  text-align: left;
}
form input:not(:last-child) {
  background-color: rgba(75, 74, 74, 0.352);
  color: white;
  padding: 6px;
  font-size: 15px;
  min-width: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
  box-sizing: border-box;
}
form input:not(:last-child):focus {
  background-color: rgba(128, 128, 128, 0.5);
  outline: rgba(5, 146, 120, 0.852);
  border: 2px solid skyblue;
}

form input:last-child {
  border: none;
  border-radius: 5px;
  background-color: rgb(41, 40, 40);
  color: aliceblue;
  font-size: 1em;
  margin: 0.2em;
  min-width: 10rem;
  padding: 0.3em;
}
form div {
  margin-block: 0.6em;
  margin-right: 0.4em;
  border-radius: 5px;
  background-image: linear-gradient(
    -120deg,
    rgba(245, 210, 68, 0.491),
    rgba(180, 4, 4, 0.564),
    rgba(0, 160, 35, 0.916)
  );

  grid-area: 5 / span 2;
  text-align: center;
  transition: all 0.5s;
}
form div:hover {
  background-image: linear-gradient(
    120deg,
    rgba(245, 210, 68, 0.491),
    rgba(180, 4, 4, 0.564),
    rgba(77, 160, 0, 0.916)
  );
  cursor: pointer;
}
form div:hover input {
  padding: 0.33em;
  cursor: pointer;
}
