.contain-detail {
  display: flex;
  box-sizing: border-box;
  max-width: 960px;
  margin: 10px auto;
}

.contain-detail div {
  flex: 1;
}
body {
  margin: 0;
  padding: 0;
}
.center-img {
  width: 64%;
  /* background-color: rgb(255, 253, 253); */
  background-image: linear-gradient(rgb(255, 253, 253), rgb(217, 32, 131));
  color: #030303;
  margin: 0.8em;
  padding: 0.4rem;
  box-shadow: 1px -2px 5px 1px rgba(129, 129, 129, 0.192);
  /* border: 1px solid rgba(66, 66, 66, 0.192); */
}

.image-slider {
  max-width: 50%;
  max-height: 32rem;
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  border: 4px solid rgba(169, 166, 166, 0.236);
  padding: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 3px;
  scroll-behavior: smooth;
  background-color: #010101;
}
.img-A {
  width: 86%;
  max-height: 6rem;
  padding: 6px;
  background-color: rgba(36, 82, 121, 0.418);
  margin-block: 1em;
}
.img-A img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  cursor: pointer;
  object-fit: cover;
  object-position: top;
}
/* .img-A img:hover {
  box-shadow: 0px -1px 4px 2px rgb(152, 12, 112);
  border: 2px solid rgb(152, 12, 112);
} */
.img-wrapper {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.img-wrapper img {
  width: 100%;
  border-radius: 8px;
}
.img-details {
  font-size: 1.14rem;
  padding: 0.24em;
  /* border: 2px solid white; */
  line-height: 21px;
  letter-spacing: 1px;
}
.img-details > div {
  display: flex;
  margin-bottom: 10px;
}
.img-details > div > div {
  flex-grow: 1;
  word-spacing: 6px;
}
.buy-button {
  width: 6rem;
  padding: 0.44rem;
  cursor: pointer;
  margin-right: 0.4em;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 2px 2px 4px 2px #c746009c;
  color: rgb(238, 235, 245);

  background-color: #010101;
  border-radius: 4px;
}
.price {
  background-color: rgba(223, 19, 158, 0.908);
  color: whitesmoke;
  padding: 2px 8px;
  /* border-radius: 8px; */
}
.buy-button:hover {
  border: 3px solid rgba(134, 215, 210, 0.785);
  box-shadow: none;
}
.checkme input {
  display: none;
}
.checkme span {
  color: plum;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  bottom: -11px;
  left: opx;
}
.checkme {
  margin-right: 30px;
  position: relative;
}
.checkme input:checked ~ span {
  color: red;
}
.liked {
  text-align: center;
  background-color: rgba(169, 166, 166, 0.322);
  flex-grow: 0;
  width: 0.3rem;
  color: whitesmoke;
  font-size: 18px;
}
