.wrapper-b {
  /* display: flex; */
  height: 22rem;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  border: 1em solid rgba(172, 165, 165, 0.37);
}
.wrapper-b > div {
  height: 4rem;
  width: 4rem;
  margin: 6rem auto;
  border-radius: 50%;
  border: 1em solid rgba(116, 115, 115, 0.37);
  border-top: 1em solid rgb(214, 32, 147);
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
